.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header .header-top {
    height: 100px;
    background: #F7F8FA;
}
.header .menu {
    background: #004990;
    height: 40px;
    display: flex;
    align-items: center;
}
.header .menu ul {
    display: flex;
    list-style-type: none;
    margin: 0 -15px;
    padding: 0;
}
.header .menu li {
    margin: 0 15px;
}
.header .menu li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    text-align: center;
}